*{
    text-align: center;
    /* background-color: black; */
    /* color: white; */
    font-weight: bold;
    margin:  0 px;
}


.header{
    background: rgb(115, 170, 224);
    padding: 20px;
    border-radius: 0px 0px  20px 20px;
    border-top: 5px solid white;
    position: sticky;
    top:0;
    z-index: 1000;
}

.header-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    background: transparent;
    margin: 0 auto;
}


#category-filter{
    padding: 8px 10px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

h1 h2{
    margin: 10px;
}

.card-row {
    display: flex;
    flex-direction: row;
    gap : 2rem;
    justify-content: center;
   flex-wrap:wrap;
   margin: 20px;

}


img{
    height: 200px;
    width: 200px;
}

.card{
    background-color: rgba(253,253,253,0.7);
    padding:15px;
    border: 2px solid black;
    flex: 1 1 300px;
    cursor: pointer;
    border-radius: 10px 10px 0px 0px;
    /* border-top: 5px solid rgba(253,253,253,0.7); */

}

p{
    padding: 10px;
    border: 2px solid black;
}


.modal-overlay{
    display: none;
    position: fixed;
    z-index: 1000;
    left :0;
    top:0;
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0 ,0.8);
    justify-content: center;
    align-items: center;
}

.modal-content{
    background-color:rgb(136, 192, 171);
    padding: 30px;
    border-radius: 10px;
    width: 60%;
    max-width: 600px;
    position: relative;
    text-align: left;
}

#closeBtn{
    position: absolute;
    right: 20px;
    top:10px;
    font-size: 30px;
    cursor: pointer;
    color: rgb(2, 22, 39);
    /* background-color:; */
}
.card{
    cursor: pointer;
    transition: transform 0.5s;
}

.card:hover{
transform: scale(1.02);
}
